

* { box-sizing: border-box; }




body {
	font-family: sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}





.galeriatitulo2{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
}

.colorgris{
    padding:40px;
    background-color: #f2f2f2;
}

.soldout{
    width:120px;
    text-align: center;
    height: 50px;
    padding:15px;
    background-color:#3e3e3e;
    color:white;
    font-size: 15px;
    font-weight: 700;
}

.text4{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 25px;
    margin-top: 30px;
}

.sliderp{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
   
    width: 80%; 

}

.descripcionproductop{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
    color:dimgray;
}

.logogda{
   
    width: 200px;
    margin-bottom: 30px;
}

.bold{
    color:black;    
    font-weight: 800;
    list-style-position: outside;
}

li{margin-bottom: 10px;}

.fotogalery{
    
    width: 100%;
}

.e4{ height:30px;}

.rrsss{display: flex;}

.filete{
    width:50px;
    height:8px;
    background-color: dimgray;
    margin-left: 48%;
    margin-bottom: 100px;
}










.header{ 
    height: 80px;
    padding:30px;
    display: flex;
    width:100%;
}

.foto{
    height:100%;   
}

.menu{
    margin-left: 200px;
    display: flex;
    width:50%;     
}



.e1{

    margin-left: 30%;
    height:20px;
    width:100px;
}


.e2{
    margin-left: 10%;
      width:200px;     
}

.e3{
    
    height:20px;
    font-weight: 500;
     margin-left: 3%; 
}


.galeriatitulo{
    margin-top: 100px;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}



.menu1{
   display: flex;
    flex-direction: column;
    width:50%;
   
    
}
.text1{
   
    font-weight: 800;
    font-size: 30px;
    align-items: center;
    text-align: center;
     color:#9e6748;
}


.text3{
    margin-left: 42%;
    width:200px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    color:#9e6748;
    border-width:2px;  
    border-style:solid;
    height:40px;
    padding: 10px;  
}




.slider2{
    display: flex;
    width: 100%;
    height: 100%
   
}
.img3{
   width:25%;
    height: 100%;
    
}

.galeria{
    display: flex;
    width: 80%;
    margin-left: 250px;
    margin-right: 250px;
  
    height: 350px;
}






.precioproctucto{
      margin-left: 25%;
    width:20%;
    
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.imgaleria{
    width: 70%;
   
}


.imgslider{
    
    width: 100%;
    
}


.footer{
    background-color: #f2f2f2;
    display: flex;
    margin-left: 100px;
    margin-right: 100px; 
    padding-top: 50px;
}

.acol{
    width:25%;
    padding: 10px;
    
}

.bold{
    font-weight: 700;
    margin-bottom: 15px;
    color:dimgrey;
}

.regular{
    font-weight: 500;
    color:dimgrey;
    margin-bottom: 6px;
}


.opaciti{
    opacity: 0.5;
}
.bcol{
    width:50%;
    padding: 10px;
    
}
.alinea{
    justify-content: flex-end;
}